.container {
  background-color: #004d80;
  /*height: 1000px;*/
}
.quickLinks {
  background-color: #e6e6e6;
  text-align:center;

  padding-top: 18px;
  margin-top: 32px;
  padding-bottom: 18px;
}
.eachElement {
  height: 128px;
  border-color: #e6e6e6;
  background-color: white;
  margin-left: auto ;
  margin-right: auto ;
  border: thick solid #e6e6e6;


}
.icondiv {
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background-color: #00ace6;
  margin-top: 16px;
  margin-left: auto ;
  margin-right: auto ;
  padding-top: 10px;
  width: 48px;
  height: 48px;

}
.quickLinkText {
  padding-top: 20px;

}
.lineSecond {
  margin-top: 48px;
  margin-left: 2px;
}

.color-white {
  color: white;
}
.color-000 {
  color: #000;
}
.recentActivity{
  height: 300px;
  margin:16px;
  background-color: white;

}