.container {
  background-color: #004d80;
  /*height: 1000px;*/
}
.quickLinks {
  background-color: #e6e6e6;
  text-align:center;

  padding-top: 18px;
  margin-top: 32px;
}
.eachElement {
  height: 128px;
  border-color: #e6e6e6;
  background-color: white;
  margin: 15px;
  margin-left: 46px;
  padding-left: 32px;
  text-align:center;

}
.icondiv {
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background-color: #00ace6;
  margin-top: 16px;
  margin-left: 32px;

  padding-top: 10px;
  width: 48px;
  height: 48px;

  text-align:center;
}
.quickLinkText {
  padding-top: 20px;

}
.lineSecond {
  margin-top: 48px;
  /*background-color: #e6e6e6;*/
  margin-left: 2px;
}

.icons {
  color: white;

}
.recentActivity{
  height: 300px;
  margin:16px;
  background-color: white;

}